<div class="field">
	<%= f.label :clergy_first_name, "Clergy First Name" %>
	<%= f.text_field :clergy_first_name %>
</div>
<div class="field">
	<%= f.label :clergy_last_name, "Clergy Last Name" %>
	<%= f.text_field :clergy_last_name %>
</div>
<div class="field">
	<%= f.label :clergy_phone_number, "Clergy Phone Number" %>
	<%= f.text_field :clergy_phone_number %>
</div>
<div class="field">
	<%= f.label :clergy_email, "Clergy Email" %>
	<%= f.text_field :clergy_email %>
</div>