<%= form_for @user, :validate => true do |f| %>  
  <%= render 'shared/errors', object: @user %>

	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<% if current_user.role?(:Admin, :Superadmin, :Coordinator) %>
		<%= render 'users/choose_role', f: f if current_user.role? : %>
	<% end %>

  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
<div class="separator_box"></div>