
<h1>Users</h1>
<div class="column_title pages">
	<%= content_tag :p, link_to("+ New", new_user_path), class: "new_instance_button" %>
	<ul class="user_index">
		<li class="long">First Name</li>
		<li class="long">Last Name</li>
		<li class="long">Email</li>
		
		<li class="medium">Approved</li>
	</ul>
	
</div>
<!-- WAITING TO BE APPROVED -->
<%= content_tag :h2, "Waiting to be Approved" %>
<!-- coordinator page -->
<% if current_user.role? :Intercessor %>
	intercessor sees nothing 
<% elsif current_user.role? :Coordinator %>
	<!-- coordintators church: intercessors waiting -->
	<ul class="model_table userStatus" id="coor_list_ints_waiting" data-update-url="<%= sort_users_url %>">
		<%= content_tag :h3, "Intercessors(#{@coor_list_ints_waiting.count})" %>
		<%= render @coor_list_ints_waiting %>
	</ul>

<!-- Admin/Superadmin page -->
<% elsif (current_user.role_ids & [role_id(:Admin), role_id(:SuperAdmin)]).count > 0 %>
	<!-- intercessors waiting -->
	<ul class="model_table userStatus" id="admin_list_ints_waiting" data-update-url="<%= sort_users_url %>">
		<%= content_tag :h3, "Intercessors(#{@admin_list_ints_waiting.count})" %>
		<%= render @admin_list_ints_waiting %>
	</ul>
	<!-- coordinators waiting -->
	<ul class="model_table userStatus" id="admin_list_coords_waiting" data-update-url="<%= sort_users_url %>">
		<%= content_tag :h3, "Coordinators(#{@admin_list_coords_waiting.count})" %>
		<%= render @admin_list_coords_waiting %>
	</ul>
	<!-- admins waiting -->
	<ul class="model_table userStatus" id="admin_list_admins_waiting" data-update-url="<%= sort_users_url %>">
		<%= content_tag :h3, "Admins (#{@admin_list_admins_waiting.count})" %>
		<%= render @admin_list_admins_waiting %>
	</ul>
<% end %>

<!-- APPROVED -->
<%= content_tag :h2, "Approved" %>
<% if current_user.role? :Intercessor %>
	intercessor sees nothing 
<% elsif current_user.role? :Coordinator %>
	<!-- coordintators church: approved intercessors-->
		<ul class="model_table userStatus" id="coor_list_ints_approved" data-update-url="<%= sort_users_url %>">
			<%= content_tag :h3, "Intercessors (#{@coor_list_ints_approved.count})" %>
			<%= render @coor_list_ints_approved %>
		</ul>

<!-- Admin/Superadmin page -->
<% elsif (current_user.role_ids & [role_id(:Admin), role_id(:SuperAdmin)]).count > 0 %>	
	<!-- approved intercessors-->
	<ul class="model_table userStatus" id="admin_list_ints_approved" data-update-url="<%= sort_users_url %>">
		<%= content_tag :h3, "Intercessors (#{@admin_list_ints_approved.count})" %>
		<%= render @admin_list_ints_approved %>
	</ul>
	<!-- approved coordinators-->
	<ul class="model_table userStatus" id="admin_list_coords_approved" data-update-url="<%= sort_users_url %>">
		<%= content_tag :h3, "Coordinators (#{@admin_list_coords_approved.count})" %>
		<%= render @admin_list_coords_approved %>
	</ul>
	<!-- approved admins-->
	<ul class="model_table userStatus" id="admin_list_admins_approved" data-update-url="<%= sort_users_url %>">
		<%= content_tag :h3, "Admins (#{@admin_list_admins_approved.count})" %>
		<%= render @admin_list_admins_approved %>
	</ul>
<% end %>

