
<h1>Users</h1>
<div class="column_title pages">
	<%= content_tag :p, link_to("+ New", new_user_path), class: "new_instance_button" %>
	<ul class="user_index">
		<li class="long">First Name</li>
		<li class="long">Last Name</li>
		<li class="long">Email</li>
		
		<li class="medium">Approved</li>
	</ul>
	
</div>
<!-- WAITING TO BE APPROVED -->
<%= content_tag :h2, "Waiting to be Approved" %>

<% @roles.each do |role| %>
		<ul class="model_table userStatus" id="admin_list_<%= role.name.downcase %>_waiting" data-update-url="<%= sort_users_url %>">
			<%= content_tag :h3, "#{role.name} (#{user_state(role.name.downcase.to_sym, 'waiting').count})" %>
			<%= render user_list_for(role.name.downcase.to_sym, "waiting") %>
		</ul>
<% end %>

<%= content_tag :h2, "Approved" %>

<% @roles.each do |role| %>
		<ul class="model_table userStatus" id="admin_list_<%= role.name.downcase %>_approved" data-update-url="<%= sort_users_url %>">
			<%= content_tag :h3, "#{role.name} (#{user_state(role.name.downcase.to_sym, 'approved').count})" %>
			<%= render user_list_for(role.name.downcase.to_sym, "approved") %>
		</ul>
<% end %>




