<!--    
Intercessor new
Prayer_req new
Choose affiliation.  If user's church is not in list, user can add his/her church
	user will also add city and state.
	New church will save to database prior to intercessor/prayer_req saving
	User now belongs to affiliation
-->

<%= f.label :affiliation, "What church do you belong to?" %> <br />  
<%= f.collection_select :affiliation, Affiliation.where(approved: true), :id, :church, prompt: "no current affiliation" %>
<div class="add_your_church" ><em>Not listed? <span>Click here</span> to add your church.</em></div>
<div id="new_church_name" class="hidden">
	<%= f.label :new_church_name, "Name of church" %>
	<%= f.text_field :new_church_name %><%= required_field %><br />
	<%= f.label :church_city, "City" %>
	<%= f.text_field :church_city %><%= required_field %><br />
	<%= f.label :church_state, "State" %>
	<%= f.select(:church_state, Arrays::STATES, { prompt: true }) %><%= required_field %>
</div>