
  <h1>Churches</h1> 
  <div class="column_title pages">
    <%= content_tag :p, link_to("+ New", new_affiliation_path), class: "new_instance_button" %>
    <ul>
      <li class="title">Name</li>
      <li class="title">City</li>
      <li class="title">State</li>
      <li class="title"># of members</li>
    </ul>
    
  </div>

  <ul class="model_table">
    <% @affiliations.each do |affiliation| %>
      <li>
        <ul class="instance_detail">
          <%= content_tag :li, affiliation.church, class:"name" %>
          <%= content_tag :li, affiliation.city, class:"name" %>
          <%= content_tag :li, affiliation.state, class:"name" %>
          <%= content_tag :li, affiliation.users.count, class:"name" %>
          
          <%= render "shared/crud_btns_without_view", object: affiliation %>
        </ul>
        <br class="clear">
      </li>
    <% end %>
  </ul>