
  <h1>Churches</h1> 
  <div class="column_title pages">
    <%= content_tag :p, link_to("+ New", new_affiliation_path), class: "new_instance_button" if can? :create, Affiliation %>
    <ul>
      <li class="title">Name</li>
      <li class="title">City</li>
      <li class="title">State</li>
      <li class="title"># of members</li>
      <li class="title">approved/li>
    </ul>
    
  </div>

  

  <ul class="model_table" id="non_approved_churches">
    <%= content_tag :h2, "(#{@non_approved_churches.count}) churches waiting to be approved" %> 
    <%= render @non_approved_churches %>
    
  </ul>

  <ul class="model_table" id="approved_churches">
    <%= content_tag :h2, "(#{@approved_churches.count}) approved churches" %> 
    <%= render @approved_churches %>
    
  </ul>