
  <h1>Churches</h1> 
  <div class="column_title pages">
    <%= content_tag :p, link_to("+ New", new_affiliation_path), class: "new_instance_button" %>
    <ul>
      <li class="title">Name</li>
      <li class="title">City</li>
      <li class="title">State</li>
      <li class="title"># of members</li>
      <li class="title">approved/li>
    </ul>
    
  </div>

  <ul class="model_table">
    <% @affiliations.each do |affiliation| %>
      <li>
        <ul class="instance_detail">
          <%= content_tag :li, affiliation.church, class:"name" %>
          <%= content_tag :li, affiliation.city, class:"name" %>
          <%= content_tag :li, affiliation.state, class:"name" %>
          <%= content_tag :li, affiliation.users.count, class:"name" %>
          <!-- button to approve users -->
          <%= form_for affiliation, :html => {:class => 'affiliation_ajax_edit'}, remote: true do |a| %>    
            <%= a.select :approved, [['Approved', true], ['Not Approved Yet', false]] %>
            <%= content_tag :div, user_approved_status(affiliation), class: "affiliation_approval_status index_form_btns #{green_if_approved(affiliation)}" %>
          <% end %>
          
          <%= render "shared/crud_btns_without_view", object: affiliation %>
        </ul>
        <br class="clear">
      </li>
    <% end %>
  </ul>