<%= form_for @prayer, validate: true do |f| %>

  <%= render 'shared/errors', object: @prayer %> 
  
  

  <!-- User already logged in -->
  <% if current_user %>
    <%= f.hidden_field :user_email, value: current_user.email %>
    <%= f.hidden_field :user_first_name, value: current_user.first_name %>
    <%= f.hidden_field :user_last_name, value: current_user.last_name %>
    <%= f.hidden_field :affiliation, value: current_user.affiliation_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="field"> 
      <%= f.label :pray_for_first_name, "I would like prayer for...(first name only)" %>
      <%= f.text_field :pray_for_first_name, :maxlength => 45 %><%= required_field %>
    </div>
    <div class="field">
      <%= f.collection_select :category, Category.find(:all), :id, :name, :prompt =>"Select a Category" %><%= required_field %>
    </div>
    <% week = Date.today + 7.days %>
    <% month = Date.today + 30.days %>
    
    <div class="field">
      <%= f.label :duration, "Please pray with me" %>
      <%= f.select :duration, [["Today", 1], ["This week", 2], ["This month", 3]], {:prompt => "Choose a duration"} %><%= required_field %>
    </div>
    <% if current_user.role? :Admin %>
      <div class="field"> 
        <%= f.label :we_care, "This is a We Care prayer" %>
        <%= f.check_box :we_care %>
      </div>
    <% end %>
    <div class="actions submit">
      <%= f.submit %>
    </div>

  <!-- User NOT logged in -->
  <% else %>
    <div class="field"> 
      <%= f.label :pray_for_first_name, "I would like prayer for this person or group (first name only)" %>
      <%= f.text_field :pray_for_first_name, :maxlength => 40 %><%= required_field %>
    </div>
    <div class="field">
      <%= f.collection_select :category, Category.find(:all), :id, :name, :prompt =>"Select a Category" %><%= required_field %>
    </div>
    <% week = Date.today + 7.days %>
    <% month = Date.today + 30.days %>
    
    

    <!-- NO search performed yet -->
    <div class="user_info_container" id="no_search_yet">
      <div class="field">
        <%= f.label :user_email, "Your email" %><br />
        <%= f.text_field :user_email %><%= required_field %>
      </div>
    </div>
    
    <!-- these fields are autofilled if user exists -->
    <div class="user_info_container" id="user_does_not_exist">
        <div class="field">
          <%= f.label :user_first_name, "Your first name" %><br />
          <%= f.text_field :user_first_name %>
        </div>
        <div class="field">
          <%= f.label :user_last_name, "Your last name"%><br />
          <%= f.text_field :user_last_name %>
        </div>
        <div class="field">
          <%= render('shared/affiliation', f: f) %>
        </div>
        
    </div>
    

    <div class="field">
      <%= f.label :duration, "Please pray with me" %>
      <%= f.select :duration, [["Today", 1], ["This week", 2], ["This month", 3]], {:prompt => "Choose a duration"} %><%= required_field %>
    </div>

    <div class="actions submit">
      <%= f.submit %>
    </div>
    
    

  <% end %>
  
    
  
<% end %>
