<%= form_for @prayer, validate: true do |f| %>

  <%= render 'shared/errors', object: @prayer %> 
  <h4>I would like prayer for...</h4>
  
  <div class="field"> 
    <%= f.label :pray_for_first_name %> <br />
    <%= f.text_field :pray_for_first_name %><%= required_field %>
  </div>
  <div class="field">
    <%= f.collection_select :category, Category.find(:all), :id, :name, :prompt =>"Select a Category" %><%= required_field %>
  </div>
  <% week = Date.today + 7.days %>
  <% month = Date.today + 30.days %>
  
  <div class="field">
    <%= f.label :duration %><%= required_field %><br />
    <%= f.select :duration, [["Today", 1], ["This week", 2], ["This month", 3]] %>
  </div>

  <!-- User already logged in -->
  <% if current_user %>
    <%= f.hidden_field :user_email, value: current_user.email %>
    <%= f.hidden_field :user_first_name, value: current_user.first_name %>
    <%= f.hidden_field :user_last_name, value: current_user.last_name %>
    <%= f.hidden_field :affiliation, value: current_user.affiliation_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
      <%= f.submit %>
    </div>

  <!-- User NOT logged in -->
  <% else %>

    <!-- NO search performed yet -->
    <div class="user_info_container" id="no_search_yet">
      <div class="field">
        <%= f.label :user_email, "Your email" %><%= required_field %><br />
        <%= f.text_field :user_email %>
      </div>
    </div>
    
    <!-- User already exists -->
    <div class="hidden user_info_container" id="user_exists">
      <div id="existing_user_fields"></div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>


    <!-- User does NOT exist -->
    <div class="hidden user_info_container" id="user_does_not_exist">
        <div class="field">
          <%= f.label :user_first_name %><br />
          <%= f.text_field :user_first_name %>
        </div>
        <div class="field">
          <%= f.label :user_last_name, "Your last name"%><br />
          <%= f.text_field :user_last_name %>
        </div>
        <div class="field">
          <%= render('shared/affiliation', f: f) %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    </div>
    
    

  <% end %>
  
    
  
<% end %>
