
    <h1>Prayers</h1> 
    <div class="column_title pages">
        <%= content_tag :p, link_to("+ New", new_prayer_path), class: "new_instance_button" %>
        <ul>
            <%= content_tag :li, "Pray for", class: "title" %>
            <%= content_tag :li, "Category", class: "title" %>
            <%= content_tag :li, "Affiliation", class: "title" %>
        </ul>
        
    </div>

    <%= content_tag :h3, "This weeks Prayers (#{@recent_prayers.count})" %>
    <ul class="model_table">
        <%= render @recent_prayers %>
    </ul>
    <%= content_tag :h3, "Prayers created between last Monday & this past Monday (#{@prayers_with_week_duration.count})" %>
    <ul class="model_table">
        <%= render @prayers_with_week_duration %>
    </ul>

    <%= content_tag :h3, "Prayers created between 30 days ago & last Monday (#{@prayers_with_month_duration.count})" %>
    <ul class="model_table">
        <%= render @prayers_with_month_duration %>
    </ul>

<%= link_to 'New Prayer req', new_prayer_path %>
