<h1>Listing prayer_reqs</h1>

<table>
  <tr>
    <th>Request</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Affiliation</th>
    <th>Duration</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayer_reqs.each do |prayer_req| %>
  <tr>
    <td><%= prayer_req.request %></td>
    <td><%= prayer_req.first_name %></td>
    <td><%= prayer_req.last_name %></td>
    <td><%= prayer_req.email %></td>
    <td><%= prayer_req.affiliation.church %></td>
    <td><%= prayer_req.expiration %></td>
    <td><%= prayer_req.category.name %></td>
    <td><%= link_to 'Show', prayer_req %></td>
    <td><%= link_to 'Edit', edit_prayer_req_path(prayer_req) %></td>
    <td><%= link_to 'Destroy', prayer_req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prayer req', new_prayer_req_path %>
