<%= form_for @category do |f| %> 
	<%= render 'shared/errors', object: @category %> 
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
	    <%= f.label :scripture_list_array, "Check the scriptures that go with this category" %><br />
	    <%= hidden_field_tag "category[scripture_list_array][]", nil %>
    	<% @scriptures.each do |script| %>
	      <%= check_box_tag "category[scripture_list_array][]", script.id, @category.scripture_list_array.include?(script.id), id: dom_id(script) %>  
      	<%= label_tag dom_id(script), script.title, class: "check_box_label" %><br> 
	    <% end %>
		    
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>


<% end %>