<!DOCTYPE html>
<html>
<head>
  <%= content_tag :title, "#{Rails.application.class.to_s.split("::").first}" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>          
  <% if "#{params[:controller]}##{params[:action]}" == "piggybak/orders#submit" -%>
      <%= javascript_include_tag "piggybak/piggybak-application" %>
  <% end -%>

  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{params[:controller]}_#{params[:action]}" %>'>
  
  <%= render "shared/header" %>
  <%= render "shared/announcements" %>
  
    <div class="container main">
     <%= render 'shared/flash_messages' if !flash.empty? %>
      <div class="header">
        <div class="col1">
          <div class="logo">
            <%= image_tag "web-logo.png" %>
          </div>
        </div>
        <div class="col2 slideshow">
            <%= image_tag "slideshow-prayer.jpg" %>
        </div>
        <div class="band"></div>
      </div>
      <br class="clear" />
     
      <div class="second_tier">
        <%= yield :prayer_request %>
        <div class="col2">
            <div class="col_content">
              <%= yield %>
            </div>
        </div>
      </div>


      <br class="clear"/>

    <br class="clear"/>
    </div>
    
  <%= render "shared/footer" %>

</body>
</html>
